body {
  background-color: #FFFFF0;
  margin-left: 50px;
}

h1 {
  color: #76D0E6;
  font-size: 70px;
  font-family: Arial;
}

p {
  color: gray;
  font-size: 30px;
  font-family: Arial;
}

p a {
  color: pink;
  text-decoration: none;
}

#boba {
  color: green;
}

.bright {
  color = yellow;
}
